# Compiler: gcc (Ubuntu 9.4.0-1ubuntu1~20.04.1) 9.4.0
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="root=/dev/ram0 rw console=ttyS0,115200  initrd=0x92000000,0x742168"
CONFIG_BOOTCOMMAND="bootm 90000000"
CONFIG_CMD_DHCP=y
CONFIG_LEGACY_IMAGE_FORMAT=y
